.main {
    text-align: center;
    /* border-top:  */
}

.contact-content {
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    order: 1;
}

.resume-div {
    overflow: visible;
    width: max-content;
    font-weight: 300;
}

.contact-link {
    color: black;
    text-align: left;
    font-size: 15px;
}

.custom-underline {
    position: relative;
    display: inline-block;
    font-weight: 400;
    text-align: center;
}

#contact-line {
    font-weight: 300;
    font-size: 17px;
}

.contact-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.contact-fillbox {
    order: 2;
    width: 50%;
    width: strech;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: auto;
    margin-left: 10%;
}