* {
	/* font-family: 'Nunito', sans-serif; */
	font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
	background-image: url("../media/pic_bg2.jpg");	
    height:100vh;
	background-size: cover;
}

.overlay {
    position: relative;
    transition: all 1s;
}

.overlay:before {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    opacity: 1;
}

.auto-type {
	text-align: center;
	padding-top: 16vh;
	font-size: 2em;
	color: white;
	filter: invert(0.46) grayscale(0) brightness(1) contrast(9);
	height: 2.5em;
	margin-left: 15%;
	margin-right: 15%;
}

.auto-type-phone {
	font-size: 1em;
	user-select: none;
}

.hp-content {
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 30vh;
	font-size: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: white;
	font-weight: 400;
	font-size: 20px;
	filter: invert(0.46) grayscale(0) brightness(1) contrast(9);
}

.hp-left {
	padding: 1%;
	padding-right: 5%;
	border-right: 2px solid white;
}

.hp-right {
	padding: 2%;
	padding-top: 6%;
}

.hp-phone {
	flex-direction: column;
	margin-left: 15%;
	margin-right: 15%;
	bottom: 0;
	position: absolute;
	padding-bottom: 8%;
}
.hp-phone-wrap .myName {
	font-size: 38px;
}

.hp-phone-wrap div {
	font-size: 15px;
	padding-bottom: 7%;
}

.description {
	margin-top: 10px;
}

.myName {
	font-size: 50px;
	font-weight: 500;
}

.social-btns-cont {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.social-btn {
	margin-left: 10px;
	width: 20px;
	height: 20px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	margin-top: 20px;
}

.social-btn:hover {
	filter: brightness(1.6);
}

#linkedin {
	background-image: url("../media/icons8-linkedin-filled-500.png");
}

#github {
	background-image: url("../media/icons8-octocat-512.png");
}

#mail {
	background-image: url("../media/icons8-new-post-96.png");
}

div.box {
	box-sizing: border-box;
	height: 50%;
	width: 50%;
	background-color: #4EC5C1;
}

.container.left{
	margin-left: 0px;
	margin-right: 0px;
	height: 100%;

	background: linear-gradient(to right, rgba(191, 219, 222, 1), rgba(255,0,0,0));
	width: 100%;
	height: 30%;
}

.container.right{
	background: linear-gradient(to right, rgba(255,0,0,0), rgba(254, 220, 222, 1));
	margin-left: 0px;
	margin-right: 0px;
	height: 100%;
	width: 100%;
}

div#about, div#project, div#link, div#contact {
	padding: 5% 8% 5% 8%;
	height: 100vh;
}

.hp-about {
	height: 50%;
	padding: 5% 10% 5% 10%;
}

.hp-about-phone {
	margin-top: 10%;
}

.hp-about div {
	margin-bottom: 5%;
}

.hp-about .description {
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-bottom: black solid 3px;
}

.icon {
	height: 98px;
	width: 98px;
	background: url("../media/girl.png");
	margin-left: 10%;
	margin-right: 5%;
	align-items: center;
}

.icon:before {
	height: 90px;
	width: 87px;
	content: "";
	/* margin-left: 10%; */
	border-radius: 50%;
	border: #4EC5C1 solid 5px;
	display: inline-block;
}

.des {
	display: flex;
	flex-direction: column;
	min-width: 40%;
}

.des-phone {
	text-align: left;
	padding-top: 1%;
	padding-bottom: 0;
	margin-bottom: 0;
}

.des-phone p {
	font-size: 25px;
	padding-bottom: 0;
}

.des-phone p.des-para {
	font-size: 15px;
	padding-bottom: 0;
}

.des-para {
	padding: 2%;
}

.my-skills {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 0;
	margin-bottom: 10%;
}

.my-skills-phone {
	flex-direction: column;
}

.skill-out {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: -moz-available;
	width: -webkit-fill-available;
}

.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: inherit;
}

.center-under {
	text-align: center;
	font-size: 2em;
}

.skill {
	margin: 10px;
	margin-bottom: 1px;
	border: #9d8df1 solid 3px;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
	padding: 2% 4% 2% 4%;
	text-align: center;
	user-select: none;
}

.skill:hover {
	cursor: pointer;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transition: background-color 0.5s ease-out;
}

.a:hover {
	background-color: rgba(157, 141, 241, 0.3);
}

.b:hover {
	background-color: rgba(149, 242, 217, 0.3);
}

.right .skill {
	border: #95f2d9 solid 3px;
}

/* -------Project------------------------------------------------ */
.hp-project {
	text-align: center;
	border-top: black solid 3px;
	padding: 3%;
	margin: 0 5% 3% 5%;
}

.hp-project p {
	margin-bottom: 2%;
	font-size: 2em;
}

/* -------Contact-------------------------------------------------*/
.hp-contact {
	text-align: center;
	border-top: black solid 3px;
	padding: 3%;
	margin: 0 5% 3% 5%;
}

/* -------Footer----------------------------------------- */
.footer {
	text-align: center;
	margin: 10% 5% 1% 5%;
	
    clear: both;
    /* position: relative; */
    height: 50px;
    /* margin-top: -100px; */
}