html, body{
    width: 100%;
    margin: 0;
}

body {
    background: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #3C3D3F;
    text-align: left;
    margin: auto;
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

footer{
    margin-top: 20px;
    text-align:center;
}

.button:hover {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
  }

  .scroller {
	margin-bottom: 0;
  }