.navbar {
	margin-bottom: 0px;
    background-color: rgba(225, 250, 255, 0.7);
    position: static;
    top: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    z-index: 100;
}

.navbar-btn {
    margin-bottom: 0px;
    right: 0;
    /* background-color: rgba(225, 250, 255, 0.7); */
    position: fixed;
    top: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 100;
    width: 8%;
}

.navbar-btn-phone {
    left: 0;
    right: initial;
    flex-direction: row;
    width: 100%;
}

.nav-phone {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-phone li {
    width: 25%;
    padding: 1%;
    justify-content: space-evenly;
}

.show {
    visibility: unset;
}

.hide {
    visibility: hidden;
}

.header-logo {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    color: white;
	background-color: rgba(225, 250, 255, 0.3);
}

.header-logo a {
    padding: 4%;
    color: white;
}

.header-logo.bottom a {
    padding: 4%;
    color: black;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

li {
    float: right;
    padding: 0;
    margin: 0;
}

li a:hover {
    background-color: rgba(122, 166, 175, 0.4);
}

a {
    display: inline-block;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
}

.activeNav {
    /* background-color: rgb(183, 234, 247) !important; */
    color: rgb(183, 234, 247);
    padding: 15px;
    text-align: center;
    display: block;
}

.bottom-ul li a {
    color: black;
}

.bottom-ul-phone li a {
    color: white;
}

.bottom-ul-phone li {
    background-color: #353a47;
}

/* .navbar li a:not(.active):hover {
    background-color: rgba(122, 166, 175, 0.1);
} */

/* .header-logo a:hover {
    color: rgba(95, 94, 94, 0.76)
} */

/* .navbar-default {
	border-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: rgba(225, 250, 255, 0.7);
}

.navbar-menu li a {
	color: white;
}

.navbar-header {
	padding-right: 1%;
}

#logo {
	font-weight: bold;
	font-size: 25px;
} */