.project-box {
    display: flex;
    flex-direction: row;
}

.pcol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 20%;
}

.pleft {
    border-right: 3px black solid;
}

.pright {
    /* border-left: 3px black solid; */
}

.projects-top p {
    padding: 0;
    padding-left: 2%;
    font-size: 17px;
}

.projects-top p strong{
    font-size: 24px;
    color: #feb236;
}


.pcol div,div h2 a,p {
    padding: 2%;
    width: 100%;
    text-align: left;
    font-size: 1.1em;
}

.pcol p {
    width: 90%;
    font-size: 15px;
    padding: 0;
    padding-left: 4%;
}

.project-btn {
    color: black;
    text-decoration: underline;
}

#catch-em-pic {
    height: 400px;
    width: 550px;
    position: absolute;
    display: block;
    z-index: 99;
    background-image: url("../media/catch-em.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}

#bank-pic {
    height: 500px;
    width: 250px;
    position: absolute;
    display: block;
    z-index: 99;
    background-image: url("../media/my-bank.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}

#barcode-pic {
    height: 500px;
    width: 250px;
    position: absolute;
    display: block;
    z-index: 99;
    background-image: url("../media/my-barcode.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}

#minesweeper-pic {
    height: 500px;
    width: 550px;
    position: absolute;
    display: block;
    z-index: 99;
    background-image: url("../media/minesweeper.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#home-db-pic {
    height: 600px;
    width: 650px;
    position: absolute;
    display: block;
    z-index: 99;
    background-image: url("../media/my-db.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}